<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="src/documentcloud/tests/bootstrap.php" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="testing">
      <directory prefix="Test_" suffix=".php">src/documentcloud/tests/</directory>
      <exclude>src/documentcloud/tests/test-sample.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <file>src/documentcloud/documentcloud.php</file>
    </include>
  </source>
</phpunit>
